# <center>Test assignment<br>Position: Product Analyst</center>

<im src="http://vignette1.wikia.nocookie.net/cuttherope/images/c/c0/Zeptolab_logo.png/revision/latest?cb=20130529115328">

---

To complete the task you need to calculate the LTV of cohorts of users for all available days, submit the notebook with calculations and a final csv file. Please, provide comments for your code and make sure it is reproducible. 

- **Cohort** means all players who installed the game on the same day. Cohort numeration in this task starts with 3001 (for players who installed on January 1st 2017)
- **LTV** includes two sources - revenue from in-app purchases (IAP) and revenue from advertisments (Ads), which is a multiplication of total ads watched on a particular day by the corresponding eCPM, divided by 1000
- **LTV** calculation formula: 

$LTV_{\text{day N}} = \sum\limits_{i=1}^{N}{\frac{\text{Ads Revenue}_{\text{day i}} + \text{IAP Revenue}_{\text{day i}}}{\text{Cohort installs}}}$

Output file format:

Cohort_number  | $LTV_1$ | $LTV_2$ | $LTV_3$ | ... | $LTV_{N-1}$ | $LTV_N$
-------------- | ------- | ------- | ------- |-----| ----------- | ------
3001           |   0.01  |  0.015  |  0.04   | ... |     0.25    |  0.28
3002           |   0.03  |  0.04   |  0.12   | ... |     1.28    |  NaN
...            |   ...   |   ...   |   ...   | ... |      ...    |  ...
3031           |   0.02  |  0.07   |   NaN   | ... |      ...    |  NaN

In [316]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')

### Load data

In [461]:
# 'installs.xlsx': contains data about when users installed the game
installs = pd.read_excel('installs.xlsx', converters={'Date': pd.to_datetime,'installs':int})
installs = installs.rename(columns={'cohort_number':'cohort'})

installs

         Date  cohort  installs
0  2017-01-01    3001     62078
1  2017-01-02    3002     62601
2  2017-01-03    3003     56958
3  2017-01-04    3004     54959
4  2017-01-05    3005     55273
5  2017-01-06    3006     59910
6  2017-01-07    3007     59922
7  2017-01-08    3008     55167
8  2017-01-09    3009     46065
9  2017-01-10    3010     45813
10 2017-01-11    3011     49354
11 2017-01-12    3012     48296
12 2017-01-13    3013     66140
13 2017-01-14    3014     65366
14 2017-01-15    3015     61270
15 2017-01-16    3016     47454
16 2017-01-17    3017     41215
17 2017-01-18    3018     43481
18 2017-01-19    3019     42484
19 2017-01-20    3020     47030
20 2017-01-21    3021     56975
21 2017-01-22    3022     53179
22 2017-01-23    3023     41269
23 2017-01-24    3024     39673
24 2017-01-25    3025     41162
25 2017-01-26    3026     41833
26 2017-01-27    3027     49526
27 2017-01-28    3028     57668
28 2017-01-29    3029     57009
29 2017-01-30    3030     42966
30 2017-01-31    3031     40302

In [336]:
print(installs.cohort.unique())
print(installs.Date.min(),installs.Date.max())

[3001 3002 3003 3004 3005 3006 3007 3008 3009 3010 3011 3012 3013 3014
 3015 3016 3017 3018 3019 3020 3021 3022 3023 3024 3025 3026 3027 3028
 3029 3030 3031]
2017-01-01 00:00:00 2017-01-31 00:00:00

In [347]:
# 'eCPM.txt': contains the effective cost per thousand impressions (eCPM) for ads on each day
eCPM = pd.read_csv('eCPM.txt', sep='\t', converters={'Date': pd.to_datetime,'total_ads_watched_value':int})
eCPM.Date = pd.to_datetime(eCPM.Date)
# eCPM.to_csv('eCPM.csv')

eCPM

         Date      eCPM
0  2017-01-01  5.879974
1  2017-01-02  5.259028
2  2017-01-03  4.790151
3  2017-01-04  4.701444
4  2017-01-05  4.802823
..        ...       ...
56 2017-02-26  4.891530
57 2017-02-27  4.295929
58 2017-02-28  4.371963
59 2017-03-01  4.042482
60 2017-03-02  4.295929

[61 rows x 2 columns]

In [304]:
print(eCPM.Date.min(), eCPM.Date.max())

2017-01-01 00:00:00 2017-03-02 00:00:00

In [378]:
# 'total_ads_watched.txt': the total number of ads watched by each cohort on each day
total_ads_watched = pd.read_csv('total_ads_watched.txt', sep='\t', converters={'Date': pd.to_datetime})
total_ads_watched = total_ads_watched.set_index('Date').sort_index(axis=1)

total_ads_watched

,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,...,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,151902,2755,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-02,157271,143598,2343,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-03,95806,138308,126034,2034,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-04,68874,91469,129751,116066,1822,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-05,58871,69861,88032,125542,116459,2259,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-26,4193,4021,3982,3304,3107,4026,3902,4016,3622,4019,...,26261,30378,42447,80715,78246,1079,0,0,0,0
2017-02-27,3117,3054,3056,2426,2710,2951,3034,2926,2471,2673,...,18792,21885,25982,39798,55400,46635,841,0,0,0
2017-02-28,2878,2936,2668,2495,2322,2737,2853,2728,2633,2941,...,16413,18598,20811,29485,37173,45833,41999,785,0,0
2017-03-01,3088,3120,2923,2671,2603,3015,2675,2717,2614,2531,...,15760,17815,19436,25633,28818,31868,41384,42107,868,0
2017-03-02,3003,2610,2794,2349,2282,2915,2764,2225,2500,2733,...,13626,16246,17604,21336,24724,23916,28830,43311,41517,1188

In [379]:
total_ads_watched.sort_index(axis=1).columns.max()

'3062'

In [338]:
total_ads_watched.Date.max()

Timestamp('2017-03-02 00:00:00')

In [435]:
# 'in_game_purchases_revenue.csv': records revenue from in-game purchases for each cohort on each day
in_game_purchases = pd.read_csv('in_game_purchases_revenue.csv' )
in_game_purchases.Date = pd.to_datetime(in_game_purchases.Date)
in_game_purchases =in_game_purchases.set_index('Date')
in_game_purchases

/var/folders/ts/9c65r4gs4sqdfggp7k73h4ww0000gn/T/ipykernel_71123/995844436.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  in_game_purchases.Date = pd.to_datetime(in_game_purchases.Date)

,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,...,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,3624.0337,45.9284,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-01-02,3540.0400,3785.3424,55.7984,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-01-03,2369.7212,3301.0215,3372.0197,49.2513,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-01-04,2114.4172,2163.1421,1930.0785,2702.2086,98.4039,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-01-05,1658.5548,1782.8181,1808.8091,2812.8513,4367.9685,32.8342,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-26,414.0465,98.3052,134.4952,88.5339,144.5626,200.2294,279.1894,111.4981,348.2465,308.6020,...,289.0265,32.7355,197.0710,118.1110,88.5339,144.2336,216.7123,616.9079,512.4833,285.5720
2017-02-27,262.6078,42.6055,219.8707,174.0410,72.1497,111.5310,308.7336,101.7926,75.4726,88.5339,...,210.0336,111.6626,318.5707,200.1636,150.9781,249.4478,338.1791,462.9359,482.7088,423.7191
2017-02-28,190.5568,170.7181,292.5139,187.1023,341.6007,94.9823,275.5046,325.1507,144.2994,131.3368,...,338.2120,325.2165,298.6662,167.2307,85.3097,72.1168,357.9520,854.5775,613.9469,282.2162
2017-03-01,101.6610,72.1497,65.5697,36.0584,226.6152,282.4136,200.2294,252.8694,72.1168,127.9481,...,364.3346,190.4910,381.1136,190.2278,85.2439,246.4868,206.8094,782.1317,239.4462,275.8007
2017-03-02,62.3455,137.8510,354.9581,213.6197,68.8926,230.0368,137.8839,137.8510,207.0726,177.2323,...,213.4223,404.1765,187.1352,65.5697,180.4894,200.0978,131.1394,765.8791,473.0362,193.6823

In [437]:
in_game_purchases.columns.max()

'3031'

In [438]:
print(in_game_purchases.index.min(), in_game_purchases.index.max())

2017-01-01 00:00:00 2017-03-02 00:00:00

## Calculations

In [439]:
# Calculate Ads Revenue
df_ads_aligned = total_ads_watched.reindex(eCPM.index)
ads_revenue = df_ads_aligned.mul(eCPM['eCPM'], axis=0)/1000.0
ads_revenue

,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,...,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,893.179766,16.199328,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-02,827.092625,755.185933,12.321903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-03,458.925206,662.516204,603.721891,9.743167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-04,323.807288,430.036427,610.017125,545.677857,8.566032,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-05,282.747014,335.530042,422.802145,602.956049,559.332005,10.849578,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-26,20.510185,19.668842,19.478072,16.161615,15.197983,19.693299,19.086749,19.644384,17.717121,19.659058,...,128.456465,148.594894,207.630768,394.819832,382.742645,5.277961,0.000000,0.000000,0.000000,0.000000
2017-02-27,13.390411,13.119767,13.128359,10.421924,11.641968,12.677287,13.033849,12.569888,10.615241,11.483018,...,80.729099,94.016408,111.616829,170.969385,237.994470,200.340652,3.612876,0.000000,0.000000,0.000000
2017-02-28,12.582510,12.836084,11.664398,10.908048,10.151699,11.966063,12.473211,11.926716,11.511379,12.857944,...,71.757032,81.309772,90.984926,128.907335,162.518988,200.380190,183.618083,3.431991,0.000000,0.000000
2017-03-01,12.483184,12.612544,11.816175,10.797469,10.522580,12.188083,10.813639,10.983423,10.567048,10.231522,...,63.709515,72.016815,78.569679,103.620939,116.496244,128.825814,167.294072,170.216786,3.508874,0.000000
2017-03-02,12.900675,11.212375,12.002826,10.091137,9.803310,12.522633,11.873948,9.558442,10.739823,11.740774,...,58.536329,69.791664,75.625535,91.657943,106.212550,102.741440,123.851635,186.060984,178.354087,5.103564

In [467]:
# sum of ads revenue and iap revenue
common_dates = ads_revenue.index.intersection(in_game_purchases.index)
ads_revenue = ads_revenue.loc[common_dates]
in_game_purchases = in_game_purchases.loc[common_dates]

total_revenue = ads_revenue[ads_revenue.columns[:31]] + in_game_purchases
total_revenue

,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,...,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,4517.213466,62.127728,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-02,4367.132625,4540.528333,68.120303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-03,2828.646406,3963.537704,3975.741591,58.994467,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-04,2438.224488,2593.178527,2540.095625,3247.886457,106.969932,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-01-05,1941.301814,2118.348142,2231.611245,3415.807349,4927.300505,43.683778,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-26,434.556685,117.974042,153.973272,104.695515,159.760583,219.922699,298.276149,131.142484,365.963621,328.261058,...,317.451180,53.553851,220.163912,139.912549,111.382236,172.100646,252.601455,658.123931,540.252515,313.033049
2017-02-27,275.998211,55.725267,232.999059,184.462924,83.791668,124.208287,321.767449,114.362488,86.087841,100.016918,...,227.518031,125.293583,333.808360,215.590281,166.327455,268.590460,360.144185,486.451816,504.111119,442.393504
2017-02-28,203.139310,183.554184,304.178298,198.010348,351.752399,106.948363,287.977811,337.077416,155.810779,144.194744,...,355.223309,338.738982,315.432679,181.675666,99.951405,90.798199,380.161573,874.159523,633.305953,299.900791
2017-03-01,114.144184,84.762244,77.385875,46.855869,237.137780,294.601683,211.043039,263.852823,82.683848,138.179622,...,380.298361,203.022694,397.028851,204.129895,99.566413,263.497564,227.422015,801.927734,257.605029,294.412287
2017-03-02,75.246175,149.063375,366.960926,223.710837,78.695910,242.559433,149.757848,147.409442,217.812423,188.973074,...,228.591226,417.493880,201.762838,80.021205,196.577654,217.913018,150.978000,787.375929,491.139245,212.554316

In [462]:
# increase values to 2017-03-02 date and fill by mean
installs.set_index('Date', inplace=True)

installs_df = pd.DataFrame()
date_range = pd.date_range(start='2017-01-01', end='2017-03-02')

installs_df = installs_df.reindex(date_range)
installs_df['cohort'] = installs['cohort']
installs_df['installs'] = installs['installs']

avg =installs.installs.mean()
installs_df['installs'] = installs_df['installs'].fillna(value=avg)
installs_df

            cohort      installs
2017-01-01  3001.0  62078.000000
2017-01-02  3002.0  62601.000000
2017-01-03  3003.0  56958.000000
2017-01-04  3004.0  54959.000000
2017-01-05  3005.0  55273.000000
...            ...           ...
2017-02-26     NaN  51367.677419
2017-02-27     NaN  51367.677419
2017-02-28     NaN  51367.677419
2017-03-01     NaN  51367.677419
2017-03-02     NaN  51367.677419

[61 rows x 2 columns]

In [479]:
# Calculate LTV values  
df = total_revenue.reindex(installs_df.index)
ltv = df.div(installs_df['installs'], axis=0).round(2)
ltv

,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,...,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031
2017-01-01,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00
2017-01-02,0.07,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00
2017-01-03,0.05,0.07,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00
2017-01-04,0.04,0.05,0.05,0.06,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00
2017-01-05,0.04,0.04,0.04,0.06,0.09,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-26,0.01,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.01,...,0.01,0.00,0.00,0.0,0.0,0.00,0.00,0.01,0.01,0.01
2017-02-27,0.01,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,...,0.00,0.00,0.01,0.0,0.0,0.01,0.01,0.01,0.01,0.01
2017-02-28,0.00,0.00,0.01,0.00,0.01,0.00,0.01,0.01,0.00,0.00,...,0.01,0.01,0.01,0.0,0.0,0.00,0.01,0.02,0.01,0.01
2017-03-01,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.00,0.00,...,0.01,0.00,0.01,0.0,0.0,0.01,0.00,0.02,0.01,0.01
2017-03-02,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.01,0.00,0.0,0.0,0.00,0.00,0.02,0.01,0.00

In [484]:
# Transpose the DataFrame
ltv_transposed = ltv.transpose()

# Reset the index without dropping it to keep it as a DataFrame
ltv_transposed.reset_index(inplace=True)

# Rename the first column as 'Cohort_number' and adjust the others
new_columns = ['Date'] + [f'$LTV_{i+1}$' for i in range(len(ltv_transposed.columns) - 1)]
ltv_transposed.columns = new_columns

# Optionally, if the first column 'Date' should be named 'Cohort_number' and the actual values are cohorts,
# you can perform an additional step to ensure 'Cohort_number' is the identifier for cohorts.
ltv_transposed.rename(columns={'Date': 'Cohort_number'}, inplace=True)
ltv_transposed.to_csv('final.csv', index=False)

In [488]:
ltv_transposed.style.background_gradient(cmap='Greens')