# <center>Test assignment<br>Position: Product Analyst</center>

<im src="http://vignette1.wikia.nocookie.net/cuttherope/images/c/c0/Zeptolab_logo.png/revision/latest?cb=20130529115328">

---

To complete the task you need to calculate the LTV of cohorts of users for all available days, submit the notebook with calculations and a final csv file. Please, provide comments for your code and make sure it is reproducible. 

- **Cohort** means all players who installed the game on the same day. Cohort numeration in this task starts with 3001 (for players who installed on January 1st 2017)
- **LTV** includes two sources - revenue from in-app purchases (IAP) and revenue from advertisments (Ads), which is a multiplication of total ads watched on a particular day by the corresponding eCPM, divided by 1000
- **LTV** calculation formula: 

$LTV_{\text{day N}} = \sum\limits_{i=1}^{N}{\frac{\text{Ads Revenue}_{\text{day i}} + \text{IAP Revenue}_{\text{day i}}}{\text{Cohort installs}}}$

Output file format:

Cohort_number  | $LTV_1$ | $LTV_2$ | $LTV_3$ | ... | $LTV_{N-1}$ | $LTV_N$
-------------- | ------- | ------- | ------- |-----| ----------- | ------
3001           |   0.01  |  0.015  |  0.04   | ... |     0.25    |  0.28
3002           |   0.03  |  0.04   |  0.12   | ... |     1.28    |  NaN
...            |   ...   |   ...   |   ...   | ... |      ...    |  ...
3031           |   0.02  |  0.07   |   NaN   | ... |      ...    |  NaN

In [269]:
import pandas as pd

# Load data

# 'installs.xlsx': contains data about when users installed the game
installs = pd.read_excel('installs.xlsx').rename(columns={'cohort_number':'cohort'})#, index_col='Date')
# 'total_ads_watched.txt': the total number of ads watched by each cohort on each day
total_ads_watched = pd.read_csv('total_ads_watched.txt', sep='\t')
total_ads_watched = pd.melt(total_ads_watched, id_vars=['Date'], var_name='cohort', value_name='total_ads_watched_value')
# total_ads_watched =  total_ads_watched.set_index('Date')

# 'eCPM.txt': contains the effective cost per thousand impressions (eCPM) for ads on each day
eCPM = pd.read_csv('eCPM.txt', sep='\t')#, index_col='Date')

# 'in_game_purchases_revenue.csv': records revenue from in-game purchases for each cohort on each day
in_game_purchases = pd.read_csv('in_game_purchases_revenue.csv')
in_game_purchases = pd.melt(in_game_purchases, id_vars=['Date'], var_name='cohort', value_name='in_game_purchases_value')
# in_game_purchases =  in_game_purchases.set_index('Date')

# Convert dates to datetime format
installs.Date = pd.to_datetime(installs.Date)
total_ads_watched.Date = pd.to_datetime(total_ads_watched.Date)
eCPM.Date = pd.to_datetime(eCPM.Date)
in_game_purchases.Date = pd.to_datetime(in_game_purchases.Date)

# Convert to cohort columns to one format type for merging
installs.cohort = installs.cohort.astype(int)
total_ads_watched.cohort = total_ads_watched.cohort.astype(int)

/opt/anaconda3/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
/var/folders/ts/9c65r4gs4sqdfggp7k73h4ww0000gn/T/ipykernel_71123/2830125471.py:22: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  total_ads_watched.Date = pd.to_datetime(total_ads_watched.Date)
/var/folders/ts/9c65r4gs4sqdfggp7k73h4ww0000gn/T/ipykernel_71123/2830125471.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  eCPM.Date = pd.to_datetime(eCPM.Date)
/var/folders/ts/9c65r4gs4sqdfggp7k73h4ww0000gn/T/ipykernel_71123/2830125471.py:24: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  in_game_purchases.Date = pd.to_datetime(in_game_purchases.Date)

In [273]:
# Merge dataframes
merged_df = installs.merge(total_ads_watched, left_on=['cohort', 'Date'], right_on=['cohort', 'Date'], how='left')
merged_df = merged_df.merge(eCPM, on='Date', how='left')

in_game_purchases.cohort =in_game_purchases.cohort.astype(int)
merged_df = merged_df.merge(in_game_purchases, left_on=['cohort', 'Date'], right_on=['cohort', 'Date'], how='left')
merged_df.head()

,Date,cohort,installs,total_ads_watched_value,eCPM,in_game_purchases_value
0,2017-01-01,3001,62078,151902,5.879974,3624.0337
1,2017-01-02,3002,62601,143598,5.259028,3785.3424
2,2017-01-03,3003,56958,126034,4.790151,3372.0197
3,2017-01-04,3004,54959,116066,4.701444,2702.2086
4,2017-01-05,3005,55273,116459,4.802823,4367.9685

In [271]:
# Calculate LTV
df = merged_df.copy()

df['ads_revenue'] = df.total_ads_watched_value * df.eCPM  / 1000
df['ltv'] = ( (df.ads_revenue + df.in_game_purchases_value) / df.installs ).round(2)
df

,Date,cohort,installs,total_ads_watched_value,eCPM,in_game_purchases_value,ads_revenue,ltv
0,2017-01-01,3001,62078,151902,5.879974,3624.0337,893.179766,0.07
1,2017-01-02,3002,62601,143598,5.259028,3785.3424,755.185933,0.07
2,2017-01-03,3003,56958,126034,4.790151,3372.0197,603.721891,0.07
3,2017-01-04,3004,54959,116066,4.701444,2702.2086,545.677857,0.06
4,2017-01-05,3005,55273,116459,4.802823,4367.9685,559.332005,0.09
5,2017-01-06,3006,59910,132946,4.524031,2777.0890,601.451891,0.06
6,2017-01-07,3007,59922,137041,5.651871,5088.1495,774.538092,0.10
7,2017-01-08,3008,55167,119303,5.563165,4039.3633,663.702248,0.09
8,2017-01-09,3009,46065,82906,3.928431,2226.6720,325.690476,0.06
9,2017-01-10,3010,45813,85636,3.776362,2298.2953,323.392573,0.06
10,2017-01-11,3011,49354,89799,4.118516,3932.1422,369.838624,0.09
11,2017-01-12,3012,48296,81003,4.397308,2009.3675,356.195134,0.05
12,2017-01-13,3013,66140,115329,4.447997,2346.8228,512.983087,0.04
13,2017-01-14,3014,65366,144165,5.360407,4716.7743,772.783085,0.08
14,2017-01-15,3015,61270,132721,4.638083,2435.2909,615.570975,0.05
15,2017-01-16,3016,47454,82899,4.942219,3186.1347,409.705036,0.08
16,2017-01-17,3017,41215,69396,4.574721,2739.2540,317.467333,0.07
17,2017-01-18,3018,43481,73160,4.473342,2114.6475,327.269706,0.06
18,2017-01-19,3019,42484,73209,4.447997,1335.4439,325.633438,0.04
19,2017-01-20,3020,47030,92852,4.283257,2514.2509,397.708952,0.06
20,2017-01-21,3021,56975,126953,5.081615,2111.2917,645.126296,0.05
21,2017-01-22,3022,53179,108586,5.157649,2918.4603,560.048513,0.07
22,2017-01-23,3023,41269,70597,4.346618,2055.3617,306.858226,0.06
23,2017-01-24,3024,39673,66719,4.143861,1599.1703,276.474248,0.05
24,2017-01-25,3025,41162,72452,4.143861,1589.4319,300.231001,0.05
25,2017-01-26,3026,41833,72358,4.131188,1566.1387,298.924532,0.04
26,2017-01-27,3027,49526,95085,4.004465,1917.6423,380.764541,0.05
27,2017-01-28,3028,57668,129969,4.992909,2113.4302,648.923352,0.05
28,2017-01-29,3029,57009,119047,4.777479,2573.0103,568.744499,0.06
29,2017-01-30,3030,42966,72106,4.080499,2186.7314,294.228461,0.06
30,2017-01-31,3031,40302,69457,3.827052,1850.9869,265.815541,0.05

In [272]:
# Create a new DataFrame for pivoting
pivot_df = df.pivot(index='cohort', columns='Date', values='ltv')

# Rename columns to LTV1, LTV2, ..., LTVn
pivot_df.columns = [f'LTV{idx + 1}' for idx, col in enumerate(pivot_df.columns)]

# Optional: handle missing data
pivot_df.fillna(0.0, inplace=True)

# Reset the index if necessary to include the cohort number as a column
pivot_df.reset_index(inplace=True)
pivot_df

,cohort,LTV1,LTV2,LTV3,LTV4,LTV5,LTV6,LTV7,LTV8,LTV9,...,LTV22,LTV23,LTV24,LTV25,LTV26,LTV27,LTV28,LTV29,LTV30,LTV31
0,3001,0.07,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,3002,0.00,0.07,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,3003,0.00,0.00,0.07,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,3004,0.00,0.00,0.00,0.06,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,3005,0.00,0.00,0.00,0.00,0.09,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,3006,0.00,0.00,0.00,0.00,0.00,0.06,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,3007,0.00,0.00,0.00,0.00,0.00,0.00,0.1,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,3008,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.09,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,3009,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.06,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,3010,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,3011,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,3012,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,3013,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,3014,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,3015,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,3016,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,3017,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,3018,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,3019,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,3020,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,3021,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,3022,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,3023,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,3024,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,3025,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.05,0.00,0.00,0.00,0.00,0.00,0.00
25,3026,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00
26,3027,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.05,0.00,0.00,0.00,0.00
27,3028,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.05,0.00,0.00,0.00
28,3029,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,0.00,0.00
29,3030,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,0.00
30,3031,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05

Many cohorts have low or zero LTVs in the initial time periods (LTV1, LTV2, etc.). This could suggest that new users or installations do not generate significant revenue immediately. This is may be common in apps if user monetization builds over time through engagement.

OR it could indicate missing data or that these cohorts havent reached those later stages yet at the time of this data extraction.

In [267]:
pivot_df.to_csv('final.csv', index=False)